rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true; // Just for this simple project since no users are explicitly managed and there's no complex auth.
    }
  }
}
